name: Deploy

on:
  push:
    branches:
      - main

permissions:
  id-token: write      # required to request OIDC token
  contents: read       # required to checkout code

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::713881789933:role/github-ci-cd
          aws-region: us-east-1  # change to your region

      - name: Test AWS access
        run: aws sts get-caller-identity
